!!!
%html
	%head
		%title Personal Non-Random Number Generator
		%link{:href => "/stylesheets/base.css", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "/stylesheets/skeleton.css", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "/stylesheets/layout.css", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "/stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}
	%body
		= yield